html {
    scroll-behavior: smooth;
  }

body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif}

body {
    font-size:16px;}

.w3-half img{
    margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}

.w3-half img:hover{
    opacity:1}

    .kasse{
        border-radius:5px;
        margin:0;
        padding:0;
    }

.billet{
    display:flex;
    justify-content:space-between;

}

.billetboks{
    border: solid 3px #f44336;
    border-radius:6px 5px;
}

.billetboks-to{
    border: solid 3px #ffd402;
    border-radius:6px 5px;
}

.box{
    padding:100px;
}

.dagsbillet{
    background-color:#ffd402;
}

h1, h2, .kasse{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing:2px;
}

h3, h4{
    font-family: 'Luckiest Guy', cursive;
}

.padding-udstillere{
    padding:20px 0px 5px 0px;
}


h2{
    text-shadow: 2px 2px black;
}

.streg{
    box-shadow: 2px 2px black;
}

/* navbar */
.w3-sidebar{
    z-index:3;
    width:270px;
    font-weight:bold;
    
    }
    
    
    .w3-bar-item{
        color: white;
       
    }
    
    .w3-bar-item:hover{
        color:rgb(0, 0, 0);
        text-decoration:underline rgb(234, 255, 3) 2px;
       transition: 0.5s ;
       
    }
    
    /* sponsor */
    
    *{
        padding: 0;
        margin: 0;
    }
    
    .main{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
       
    }
    
    .sponsor{
        width: 80%;
        height: 200px;
        display:contents;
    }
    
    
    
    .sponsor ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .sponsor ul li{
        height: 200px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        position: relative;
        overflow: hidden;
        cursor: pointer;
     
    }
    
    .sponsor ul li img{
        filter: saturate(0%);
       
    }
    
    .sponsor span{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right:0 ;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 5s;
    }
    
    .sponsor ul li:hover span{
        top:0;
    }
    
    .sponsor ul li:hover span img{
        filter: none;
    }
    
    
    /* Image */
    
    .imgbody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
    }
    
    .image{
        position: relative;
        width: 1000px;
        height: 300px;
        background: #222;
        max-width: 100%;
    }
    
    
    @media(max-width:1000px){
        .image{
          margin-left: 20px;
          margin-right: 20px;
           width: 940px;
           height: 200px;
           max-width: 100%;
        }
    }
    
    .image .img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    
    }
    
    .image .img.img1{
        background: url(/tegneserie/images/1.jpg);
        background-size: cover;
        clip-path: polygon(0 0, 55%, 0, 20% 100%, 0% 100%);
    }
    .image .img.img2{
        background: url(/tegneserie/images/2.jpg);
        background-size: cover;
        clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
    }
    .image .img.img3{
        background: url(/tegneserie/images/3.jpg);
        background-size: cover;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
    }
    
    .image:hover .img{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    .image:hover .img:hover{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    
    
    .image .img:hover .content{
        bottom: 0;
        opacity: 1;
    }